


<div class="mat-elevation-z8 container-table">
    <p class="titulo">Lista de Marcas</p>
    <table mat-table [dataSource]="listarMarca">
      <!-- id_marca -->
      <ng-container matColumnDef="idMarca" class="">
        <th mat-header-cell *matHeaderCellDef> ID MARCA </th>
        <td mat-cell *matCellDef="let marca"> {{"#"+marca.id_marca}} </td>
      </ng-container>
  
      <!-- nombre_marca -->
      <ng-container matColumnDef="nombreMarca">
        <th mat-header-cell *matHeaderCellDef> NOMBRE MARCA </th>
        <td mat-cell *matCellDef="let marca"> {{marca.nombre_marca}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaCreacion">
        <th mat-header-cell *matHeaderCellDef> FECHA CREACIÓN </th>
        <td mat-cell *matCellDef="let marca"> {{marca.fecha_creacion}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaActualizacion">
        <th mat-header-cell *matHeaderCellDef> FECHA ACTUALIZACIÓN </th>
        <td mat-cell *matCellDef="let marca"> {{marca.fecha_actualizacion}} </td>
      </ng-container>

      <ng-container matColumnDef="estadoMarca">
        <th mat-header-cell *matHeaderCellDef> ESTADO MARCA </th>
        <td mat-cell *matCellDef="let marca"> {{marca.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
        <td mat-cell *matCellDef="let marca">
            <a class="enlace enlace-edit" routerLink="/marcas/edit/{{marca.id_marca}}"><mat-icon class="icon-edit">edit</mat-icon>Editar</a>
            <a class="enlace enlace-delete" (click)="validarEliminar(marca.id_marca)"><mat-icon>delete_forever</mat-icon>Eliminar</a>
        </td>

       
        
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons 
    aria-label="Seleccionar pagina de productos">
    </mat-paginator> -->
    <p  *ngIf="mensajeAlerta" class="mensaje-alerta"></p>
</div>



