




<header class="header">

  <a routerLink="/" class="titulo">Crud Productos</a>

      <ul class="menu">
        <li>
          <a class="glass" mat-raised-button color="primary-grey" routerLink="/">
            <mat-icon class="icon">home</mat-icon>
            Inicio</a>
          </li>

        <li> <a class="glass" mat-raised-button color="primary-grey" routerLink="/add"><mat-icon class="icon">add_circle</mat-icon>Agregar Producto</a></li>
        <li> <a class="glass" mat-raised-button color="primary-grey" routerLink="/marcas"><mat-icon class="icon">list</mat-icon>Listar Marcas</a></li>
        <li> <a class="glass" mat-raised-button color="primary-grey" routerLink="/marcas/add"><mat-icon class="icon">add_circle</mat-icon>Agregar Marca</a></li>
      </ul>

  
</header>



<main class="main-container"><router-outlet></router-outlet></main>


