.titulo{
    margin: 0px 0;
    font-size: 2rem;
    padding: 20px;
    color: #fff;
}
.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #424242;

}
.mat-form-field{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.mat-form-field:first-child{
    margin-top: 60px;
}

.mat-icon{
    color: #fff;
}

.container-btn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
}
.mat-raised-button:first-child{
    background-color: #00b4d8;
}
.mat-raised-button:last-child{
    background-color: #e5383b;
}
.mat-form-field{
    color: #fff;
}